body {
    margin:0;
    font-family: 'Assistant', sans-serif;
    font-size: 27px;

}

h1,
h2,
h3 {
    font-family: 'Secular One', sans-serif;
}

h1,
h2,
h3,
h4,
.button {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
}


.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/ball.jpg);
    background-position: center bottom;
    color: #fff;
    font-size:20px;
}

.container {
    max-width:900px;
    margin:auto;

    
    
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap:30px;
}

.about img {
    display:inline block;
}

h1 {
    font-size: 48px;
    line-height: 1.1;
}

.button {
    background:white;
  color: black;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px 15px;
  display: inline-block;
  margin-top:15px;
    margin-bottom: 10px;
    transition: .3s;
border-radius: 50px;

}
.button:hover{
    background: #000;
    color: white;
}

.logo{
    max-width:250px;
    display: block;
    margin:  15px auto;
}


.gallery {
  list-style: none;
  padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:80px;
    font-size: 25px;
    text-align: center;
    font-weight: 
    color: #000;

    
}

.gallery {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.gallery img {
  display: block;
}

.gallery {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 35px;
}
.gallery img {
  display: block;
}

h2 {
  font-size: 36px;
  text-align: center;
}
.about img {
  display:block;
  margin-top:200px;
}

.contact  {
    display: grid;
  background: black;
  font-size: 25px;
  margin-top: 60px;
  text-align: center;
    padding-top: 40;
    
}
h2{
    color:#000;
}

h3{
    color: #fff;
    margin-bottom: -20px;
    font-size: 55px;
}

.contact a:hover {
  opacity: 0.7;
}
a {
  color: #fff;
    text-decoration: none;
}

p{
    color: aliceblue;
}
.contact ul {
  list-style: none;
  padding: 0;
}
.contact li {
margin-bottom: 20px;

}


.foter a {
    margin: 10px;
   max-width: 70px;
}


.foter {
grid-template-columns: auto;
    background: #000;
    text-align:center;
    padding: 40px 0;
    
    
}
.icon{
    max-width:50;
}
