body {
    color: black;

    font-family: heebo, sans-serif;

}

h1 {
    color: saddlebrown
}

h2 {
    color: saddlebrown
}
.container { 
    max-width: 800px;
    margin: auto; 
}
.botton {
    background-color: firebrick;
   text-decoration: none;
    color: aliceblue; 
    padding: 10px; 
}

.cta {
    background-color: antiquewhite; 
    padding: 10px;
    padding-left: 40px;
    overflow: hidden;
     
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.alignleft {
    float: left;
}

.cta .alignleft{ max-width: 200px;
}

.news{
padding: 120px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/bg.jpg);
background-position: center;
background-size: cover;
text-align: center;
font-size:24px;
    color: #000
}
.news h2 {
 font-size: 50px; 
color: coral;
}
.news p{ 
font-size:30px;
color: #fff;
}
input{
    font: inherit;
    color: #fff;
    background: none;
    border: 0;
    border-bottom: 3px solid;
    padding: 5px;
}
.news input{
    background: transparent;
}

input:focus{
    outline: 0;
    background: rgba(0,0,0,0.5);
}

.news .button{
    padding: 5px 30px;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #fff;
    
}

.news .button:hover{
    background: #fff;
    color: #000;
    
}

.news input[type="email"]{
    
}

label{
    display: block;
    margin-bottom: 20px;
        
}

label span{
    display: block;
    color: coral;
    margin-top: 20px;
}