body {
    color: black;

    font-family: heebo, sans-serif;

}

h1 {
    color: saddlebrown
}

h2 {
    color: saddlebrown
}
.container { 
    max-width: 800px;
    margin: auto; 
}
.botton {
    background-color: firebrick;
   text-decoration: none;
    color: aliceblue; 
    padding: 10px; 
}

.cta {
    background-color: antiquewhite; 
    padding: 10px;
    padding-left: 40px;
    overflow: hidden;
     
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.alignleft {
    float: left;
}

.cta .alignleft{ max-width: 200px;
}

.news{
padding: 60px;
background:url(img/bg.jpg); 
background-position: center;
background-size: cover;
text-align: center;
font-size:24px;
    color: #000
}
.news h2 {
    color: darkolivegreen;
font-size: 50px;  
        
}
